body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    height: auto;
    background-color: rgb(26, 5, 61);    
}

header{
    font-size: 25px; 
}
h1{
    font-size: 50px;
}
.title{
    font-size: 35px;
}
.num{
    font-size: 20px;
}

.masthead{
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    
}
.product-banner{
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}
.contact-info{
    color: white;
    font-size: x-large;
}
.wina-title{
    font-size: xx-large;
    color: #91c7b9;
}

/* footrt starts */
footer{
    margin-top: 5%;
    padding: 1% 10% 0% 10%;
    background-color: rgb(43, 2, 26);
    color: aliceblue;
}

.text-dec {
    color: #cfcfcf;
    text-decoration: none;
}

/* footrt ends */
/* card starts */
.machine-card {
    box-shadow: 4px 5px 5px 1px #e9ecef;
    cursor: pointer;
}

.product-card{
    height: 450px;
    box-shadow: 4px 5px 5px 1px #e9ecef;
}


/* card ends */
.carousel-size{
    width: 70%;
}
.carousel-item {
    height: auto;
    width: 100%;
}
.img-size{
    height: 100%;
    width: 100%;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

table tr td{
    padding: 10px;
}

.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.4);
}
.contact-form{
    height: 100vh;
    background-color: #e9ecef;
}
.machine-details{
    padding-top: 60px;
    padding-bottom: 60px;
    
}
/* machine sub navbar */
.list{
    list-style: none;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
ul li a.link{
    text-decoration: none;
    color: rgb(5, 32, 27);
}
.link{
    position: relative;
    cursor: pointer;
    padding-bottom: 24px;
    margin-right: 20px;
}
.link::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 2px;
    background-color: rgb(10, 104, 88);
    transition: 0.4s ease-out;
}
.link:hover{
    font-weight: 500;
}
.link:hover.link::after{
    width: 100%; 
}
.link.active{
    font-weight: 500;
}
.link.active.link::after{
    width: 100%; 
}
.hr-design{
    position: absolute;
    margin-top: 81px;
    margin-left: 32px;
    width: 1280px;
}
.sub-link{
    text-decoration: none; 
    color: rgb(74, 74, 78);
}
.location{
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
/* machine sub navbar ends*/
@media only screen and (max-width : 1900px) {
    .contact-info{
        color: white;
        font-size:large;
    }
    .wina-title{
        font-size: x-large;
        color: #91c7b9;
    }
}
@media only screen and (max-width : 1400px) {
    .hr-design{
        width: 1100px;
    }
}
@media only screen and (max-width : 1450px) {
    .carousel-item {
        height: 600px;
        width: 100%;
        padding-left:  5%;
        padding-right: 5%;
    }
    
    .product-banner{
        background-size: cover;
        min-height: 40vh;
    }
    
    .img-size{
        height: 600px;
        width: 100%;
    }
}
@media only screen and (max-width : 992px) {
    .navbar-collapse {
    background: rgb(26, 4, 68); 
    }
    .carousel-item {
        padding-left:  0%;
        padding-right: 0%;
    }
    .product-banner{
        background-size: cover;
        min-height: 30vh;
    }
    h5{
        font-size: medium;
    }
    .machine-details{
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
    }
}
@media only screen and (max-width : 768px) {
    .product-banner{
        background-size: cover;
        min-height: 20vh;
    }
    .carousel-item {
        height: 350px;
        width: 100%;
        padding-left:  0%;
        padding-right: 0%;
    }
    .img-size{
        width:100%;
        height:100%;
    }
}